.about__data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2.875rem;
  align-items: flex-start;
  position: relative;
}

.about__data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}

.about__description {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

.about__info {
  text-align: center;
}

.about__info-skill {
  margin-bottom: 4rem;
}

.skills__category h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.25rem;
}

.about__list li {
  position: relative;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.about__boxes {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  margin-top: 4.35rem;
}

.about__box {
  display: flex;
  column-gap: 1.5rem;
}

.about__icon {
  font-size: var(--h1-font-size);
  color: #dedeea;
}

.about__title {
  font-size: 1.875rem;
}

.about__info-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.about__updated {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1.25rem;
  right: 1.875rem;
}

.about__info-download .download_btn {
  margin: 0 0 0 1rem;
  padding: 0.6rem 1.25rem;
}

.about__info-download .view_btn {
  margin: 0 1rem 0 0;
  padding: 0.6rem 1.25rem;
}

@media screen and (max-width: 768px) {
  .about__data {
    padding: 1.25rem;
  }

  .about__description {
    font-size: 1.25rem;
  }

  .about__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
  }

  .about__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .about__data {
    padding: 1.25rem;
  }

  .about__description {
    font-size: 1.25rem;
  }

  .about__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
  }

  .about__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
