.contact.section {
  padding-bottom: 6.25rem;
}

.contact__container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.contact__form-div {
  position: relative;
  margin-bottom: 1.875rem;
  height: 3.75rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjusted to 100% for better responsiveness */
  height: 100%;
  box-shadow: var(--shadow);
  background-color: var(--container-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 1.875rem;
  padding: 0.625rem 1.875rem;
  z-index: 1;
}

.contact__form-label {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

.contact__form-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contact__form-radio + .contact__form-label {
  margin-right: 10px; /* Adjust the margin to control spacing */
}

.contact__form-radio + .contact__form-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--first-color);
  border-radius: 50%;
  background-color: #fff;
}

.contact__form-radio:checked + .contact__form-label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--first-color);
}

.contact__form-radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.contact__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 1.875rem;
  border-radius: 1.875rem;
  margin-top: 1.875rem;
}

.contact__form-text {
  position: relative;
  height: 8rem;
}

.contact__form-area {
  height: 8rem;
  border-radius: 1rem;
}

.contact__form-area textarea {
  resize: none;
}

@media (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }

  .contact__form-input {
    height: auto;
    padding: 1rem;
  }

  .contact__form-label {
    padding-left: 25px;
  }

  .contact__form-radio + .contact__form-label::before {
    width: 15px;
    height: 15px;
  }

  .contact__form-radio:checked + .contact__form-label::after {
    left: 4px;
    width: 7px;
    height: 7px;
  }

  .contact__form-radio-group {
    flex-direction: row;
    gap: 15px;
  }

  .contact__form-btn {
    padding: 0.5rem 1.25rem;
    margin-top: 1.25rem;
  }

  .contact__form-text {
    height: 12rem;
  }

  .contact__form-area {
    height: 10rem;
  }
}
