{% extends 'adminbase.html' %}

{% block content %}
<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>teacher Info</span>
                </h4>

                <form class="d-flex justify-content-center">
                    <!-- Default input -->
                    <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                    <button class="btn btn-primary btn-sm my-0 p" type="submit">
                    <i class="fas fa-search"></i>
                    </button>

                </form>

            </div>

        </div>
        <!-- Heading -->

        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endfor %}
        {% endif %}

        <div class="row mb-5">
            <div class="col-2">
                <img src="{{ teacher.profile.image.url }}" class="rounded-circle mr-3" height="150px" width="150" alt="avatar">
            </div>
            <div class="col-3 mt-3">
                <h2>{{ teacher.profile.first_name }} {{ teacher.profile.last_name }}</h2>
                <p><b>Username:</b> {{ teacher.profile.user.username }}</p>
                <p><b>Email:</b> {{ teacher.profile.user.email }}</p>
                <p><b>Birthdate:</b> {{ teacher.profile.birthdate }}</p>
                <p><b>Date Joined:</b> {{ teacher.profile.date_joined }}</p>
                <p><b>Subject:</b> {{ teacher.get_subject_display }}</p>
                <p><b>Current Students:</b></p>
            </div>
            <div class="col-6">
                <h2 class="mt-3 ml-2">Students</h3>
                    <table class="table table-hover">
                        <thead class="info-color">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Current Class</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <img width="40px" src="{{ student.profile.image.url }}" class="rounded-circle z-depth-0 mr-3" alt="avatar image">
                                    <b>{{ student.profile.first_name }} {{ student.profile.last_name }}</b>
                                </td>
                                <td>{{ student.current_class }}</td>
                                <td><a href="{% url 'core:student-detail-admin' student.profile.user.username %}" class="btn btn-primary btn-sm">View Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>

    </div>
    </div>
</main>
<!--Main layout-->

{% endblock content %}
